@page "/getintouch"

<div class="text-center my-5 rounded" >
    <div class="display-6 my-3 border-bottom"> Contact</div>
    <div class="lead mt-5">
        <i class="bi bi-telephone-plus-fill text-danger my-3"></i>
        <p>0532 170 78 78</p>
        <i class="bi bi-geo-fill text-danger my-3"></i>
        <p>Ankara</p>
        <i class="bi bi-linkedin text-primary my-3"></i>
        <p><a class="text-dark my-3" href="https://www.linkedin.com/in/altu%C4%9F-aytimur-2215bb114" target="_blank">Altuğ Aytimur</a></p>
        <i class="bi bi-envelope-fill text-danger my-3"></i>
        <p>altugaytimur@hotmail.com</p>
    </div>
</div>

