<div class="bg-light border-top p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center">
                    <a class="navbar-brand" href="/">
                        <img class="img-fluid " src="/images/StoreX.png" alt="StoreX" style="width:100px" />
                    </a>
                </div>
                <div class="text-muted text-center">
                    Store X  App <br />
                    by beema technologies Company
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center ">
                    <img class="img " src="/images/beemaLogohazır.png" alt="StoreX" style="width:100px" /> &copy;2023  <br />
                </div>
                <div class=" text-center">
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a class="btn btn-outline-secondary">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a class="btn btn-outline-secondary">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="my-3">
                    <div products="" number="6"></div>
                </div>

            </div>
        </div>
    </div>
</div>
